name: Assets

on:
  push:
    paths:
      - .github/workflows/assets.yml
      - pcb/**
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: assets
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pcb:
          - octokeyz
          - octokeyz-mega

    steps:
      - uses: actions/checkout@v6

      - uses: rafaelmartins/website/hardware@main
        with:
          configuration: ./pcb/${{ matrix.pcb }}/config.yml
          source: ./pcb/${{ matrix.pcb }}
          destination: _build

      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.pcb }}
          path: _build

  aggregate:
    runs-on: ubuntu-latest

    needs:
      - build

    steps:
      - uses: actions/download-artifact@v6
        with:
          path: build

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v3
        with:
          path: build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs:
      - aggregate

    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
