name: Main

on:
  push:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: main
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  XPACK_ARM_TOOLCHAIN_VERSION: "14.2.1-1.1"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: octokeyz
          fetch-depth: 0

      - name: Install arm-none-eabi toolchain
        run: |
          wget \
            "https://github.com/xpack-dev-tools/arm-none-eabi-gcc-xpack/releases/download/v${XPACK_ARM_TOOLCHAIN_VERSION}/xpack-arm-none-eabi-gcc-${XPACK_ARM_TOOLCHAIN_VERSION}-linux-x64.tar.gz"{,.sha}

          sha256sum \
            --check \
            "xpack-arm-none-eabi-gcc-${XPACK_ARM_TOOLCHAIN_VERSION}-linux-x64.tar.gz.sha"

          tar \
            --extract \
            --verbose \
            --file="xpack-arm-none-eabi-gcc-${XPACK_ARM_TOOLCHAIN_VERSION}-linux-x64.tar.gz"

          echo "${{ github.workspace }}/xpack-arm-none-eabi-gcc-${XPACK_ARM_TOOLCHAIN_VERSION}/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends ninja-build

      - name: Build
        run: |
          cmake \
            -B ${{ github.workspace }}/build \
            -D CMAKE_BUILD_TYPE=Release \
            -S ${{ github.workspace }}/octokeyz \
            -G Ninja

          cmake \
            --build ${{ github.workspace }}/build \
            --target package \
            --target package_source

      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: build/octokeyz-*

      - uses: actions/upload-artifact@v6
        with:
          name: readme
          path: build/cmake/cpack/files/README.txt

  release:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - uses: actions/download-artifact@v7
        with:
          name: readme
          path: readme

      - name: Get release metadata
        id: meta
        run: |
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            echo "name=$(git tag -l --format="%(contents:subject)" "${{ github.ref_name }}" | head -n 1)" >> $GITHUB_OUTPUT
            echo "tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT
            git tag -l --format="%(contents:body)" "v${version}" > body.md
          else
            echo "name=Rolling Release" >> $GITHUB_OUTPUT
            echo "tag=rolling" >> $GITHUB_OUTPUT
            git show -s --format="format:%h: %s" > body.md
          fi

          echo >> body.md
          echo "## README" >> body.md
          echo >> body.md
          echo "\`\`\`" >> body.md
          cat readme/README.txt >> body.md
          echo "\`\`\`" >> body.md

      - uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5
        with:
          name: ${{ steps.meta.outputs.name }}
          tag: ${{ steps.meta.outputs.tag }}
          artifacts: dist/octokeyz-*
          bodyFile: body.md
          prerelease: ${{ steps.meta.outputs.tag == 'rolling' }}
          allowUpdates: ${{ steps.meta.outputs.tag == 'rolling' }}
          removeArtifacts: ${{ steps.meta.outputs.tag == 'rolling' }}
          replacesArtifacts: ${{ steps.meta.outputs.tag == 'rolling' }}
          generateReleaseNotes: ${{ steps.meta.outputs.tag != 'rolling' }}
